In [1]:
#Add Dependencies
import pandas as pd
import numpy as np
# import psycopg2 as pg
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
read_file = "2012-2019_staff.csv"
write_file = "2012-2019_staff_singles.csv"

In [3]:
# Import our input dataset
staff_df = pd.read_csv(read_file , low_memory=False)

In [4]:
#Check imported Dataset
staff_df.head()

,Badge ID,BirthYear,BirthMonth,BirthDay,Age,City,State,Zip,Country,Division,Department,Year
0,S00685,1983,8,21,34,San Francisco,CA,94121,US,Chair Team,Chair Team,2019
1,S03759,1989,8,25,29,Foster City,CA,94404,US,Chair Team,Chair Team,2019
2,S01895,1982,6,30,36,Irvine,CA,92602,US,Chair Team,Chair Team,2019
3,S00066,1985,8,30,33,Los Angeles,CA,90045,US,Chair Team,Chair Team,2019
4,S02172,1991,4,2,28,Hayward,CA,94545,US,Fan Services,Fan Services,2019

In [5]:
#Check Dataset Column Types
staff_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8446 entries, 0 to 8445
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Badge ID    8446 non-null   object
 1   BirthYear   8446 non-null   int64
 2   BirthMonth  8446 non-null   int64
 3   BirthDay    8446 non-null   int64
 4   Age         8446 non-null   int64
 5   City        8446 non-null   object
 6   State       8446 non-null   object
 7   Zip         8446 non-null   object
 8   Country     8446 non-null   object
 9   Division    8446 non-null   object
 10  Department  8446 non-null   object
 11  Year        8446 non-null   int64
dtypes: int64(5), object(7)
memory usage: 791.9+ KB

In [6]:
staff_df.drop_duplicates(subset=['Badge ID'])

,Badge ID,BirthYear,BirthMonth,BirthDay,Age,City,State,Zip,Country,Division,Department,Year
0,S00685,1983,8,21,34,San Francisco,CA,94121,US,Chair Team,Chair Team,2019
1,S03759,1989,8,25,29,Foster City,CA,94404,US,Chair Team,Chair Team,2019
2,S01895,1982,6,30,36,Irvine,CA,92602,US,Chair Team,Chair Team,2019
3,S00066,1985,8,30,33,Los Angeles,CA,90045,US,Chair Team,Chair Team,2019
4,S02172,1991,4,2,28,Hayward,CA,94545,US,Fan Services,Fan Services,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
8425,S6465,0,0,0,59,san jose,CA,95123,US,Clockwork Alchemy,Clockwork Alchemy Artist's Bazaar,2013
8430,S6534,0,0,0,45,San Jose,CA,95123,US,Clockwork Alchemy,Clockwork Alchemy Special Events,2013
8431,S6248,0,0,0,28,Pacifica,CA,94044,US,Clockwork Alchemy,Clockwork Alchemy Special Events,2013
8437,S6171,1993,5,29,19,Boise,ID,83713,US,Clockwork Alchemy,Clockwork Alchemy Music,2013
8443,S5853,1980,12,10,32,Sacramento,CA,95835,US,Clockwork Alchemy,Clockwork Alchemy Guests,2013

In [7]:
staff_df.head()

,Badge ID,BirthYear,BirthMonth,BirthDay,Age,City,State,Zip,Country,Division,Department,Year
0,S00685,1983,8,21,34,San Francisco,CA,94121,US,Chair Team,Chair Team,2019
1,S03759,1989,8,25,29,Foster City,CA,94404,US,Chair Team,Chair Team,2019
2,S01895,1982,6,30,36,Irvine,CA,92602,US,Chair Team,Chair Team,2019
3,S00066,1985,8,30,33,Los Angeles,CA,90045,US,Chair Team,Chair Team,2019
4,S02172,1991,4,2,28,Hayward,CA,94545,US,Fan Services,Fan Services,2019

In [8]:
#Check remaining columns
staff_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8446 entries, 0 to 8445
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Badge ID    8446 non-null   object
 1   BirthYear   8446 non-null   int64
 2   BirthMonth  8446 non-null   int64
 3   BirthDay    8446 non-null   int64
 4   Age         8446 non-null   int64
 5   City        8446 non-null   object
 6   State       8446 non-null   object
 7   Zip         8446 non-null   object
 8   Country     8446 non-null   object
 9   Division    8446 non-null   object
 10  Department  8446 non-null   object
 11  Year        8446 non-null   int64
dtypes: int64(5), object(7)
memory usage: 791.9+ KB

In [9]:
#Export dataset to CSV
staff_df.to_csv(write_file)