In [26]:
#Add Dependencies
import pandas as pd
import numpy as np
# import psycopg2 as pg
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [67]:
staff_year = "2019"
read_file = "2019_staff_processed.csv"
write_file = "2019_staff_processed_year.csv"

In [68]:
# Import our input dataset
staff_df = pd.read_csv(read_file , low_memory=False, index_col="Badge ID")

In [69]:
#Check imported Dataset
staff_df.head()

,BirthYear,BirthMonth,BirthDay,Age,City,State,Zip,Country,Division,Department
Badge ID,,,,,,,,,,
S00685,1983,8,21,34,San Francisco,CA,94121,US,Chair Team,Chair Team
S03759,1989,8,25,29,Foster City,CA,94404,US,Chair Team,Chair Team
S01895,1982,6,30,36,Irvine,CA,92602,US,Chair Team,Chair Team
S00066,1985,8,30,33,Los Angeles,CA,90045,US,Chair Team,Chair Team
S02172,1991,4,2,28,Hayward,CA,94545,US,Fan Services,Fan Services

In [70]:
#Check Dataset Column Types
staff_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 925 entries, S00685 to S05014
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BirthYear   925 non-null    int64
 1   BirthMonth  925 non-null    int64
 2   BirthDay    925 non-null    int64
 3   Age         925 non-null    int64
 4   City        925 non-null    object
 5   State       925 non-null    object
 6   Zip         925 non-null    object
 7   Country     925 non-null    object
 8   Division    925 non-null    object
 9   Department  925 non-null    object
dtypes: int64(4), object(6)
memory usage: 79.5+ KB

In [71]:
staff_df['Year']= staff_year

In [72]:
staff_df.head()

,BirthYear,BirthMonth,BirthDay,Age,City,State,Zip,Country,Division,Department,Year
Badge ID,,,,,,,,,,,
S00685,1983,8,21,34,San Francisco,CA,94121,US,Chair Team,Chair Team,2019
S03759,1989,8,25,29,Foster City,CA,94404,US,Chair Team,Chair Team,2019
S01895,1982,6,30,36,Irvine,CA,92602,US,Chair Team,Chair Team,2019
S00066,1985,8,30,33,Los Angeles,CA,90045,US,Chair Team,Chair Team,2019
S02172,1991,4,2,28,Hayward,CA,94545,US,Fan Services,Fan Services,2019

In [73]:
#Check remaining columns
staff_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 925 entries, S00685 to S05014
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BirthYear   925 non-null    int64
 1   BirthMonth  925 non-null    int64
 2   BirthDay    925 non-null    int64
 3   Age         925 non-null    int64
 4   City        925 non-null    object
 5   State       925 non-null    object
 6   Zip         925 non-null    object
 7   Country     925 non-null    object
 8   Division    925 non-null    object
 9   Department  925 non-null    object
 10  Year        925 non-null    object
dtypes: int64(4), object(7)
memory usage: 86.7+ KB

In [74]:
#Export dataset to CSV
staff_df.to_csv(write_file)